@import "tailwindcss";
@plugin "daisyui"{
    themes: light --default
};

@plugin "daisyui/theme" {
    name: "light";
    default: true;
    --color-primary: #E17D02;
    --color-secondary: #594A41;
}