@import "tailwindcss";
@plugin "daisyui"{
    themes: light --default, dark --prefersdark;
};

@plugin "daisyui/theme" {
    name: "light";
    default: true;
    --color-primary: #E17D02;
    --color-secondary: #594A41;
}
@plugin "daisyui/theme" {
    name: "dark";
    --color-primary: #E17D02;
    --color-secondary: #594A41;
}